

.camera-section {
  width: 100%;
  max-width: 420px;
  margin: 30px auto;
  padding: 20px;

  background: #ffffffd9;          // fundo suave
  backdrop-filter: blur(6px);     // efeito vidro fosco
  border-radius: 14px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);

  text-align: center;

  h2 {
    margin-bottom: 15px;
    font-size: 1.4rem;
    color: #333;
  }

  video,
  img {
    width: 100%;
    border-radius: 12px;
    border: 2px solid #e5e5e5;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  }

  .camera-buttons {
    margin-top: 18px;

    
    button {
      margin: 0 6px;
    }
  }
}
